<p>
  <b>Date:</b>
  <%= preformed.selected_date %>
  <b>Preformed:</b>
  <%= link_to preformed.preformed, [preformed.activity, preformed],        :confirm => 'Are you sure you want to delete this value
  ?',
               :method => :delete %>
</p>